

<div class="quiz-container" *ngIf="quizzes.length > 0">
  <h1>Quiz</h1>
  <div class="question-container" *ngFor="let quiz of quizzes">
    <h3>{{ quiz.question }}</h3>
    <form>
      <div *ngFor="let answer of quiz.answers; let i=index">
        <label>
          <input type="radio" name="quiz-{{ quiz.id }}" [value]="i" [(ngModel)]="selectedAnswers[quiz.id]">
          <span>{{ answer }}</span>
        </label>
      </div>
    </form>
  </div>
  <div class="footer">
    <p>Question 1/{{quizzes.length}}</p>
    <button (click)="submit()">Submit</button>
  </div>

</div>

<div *ngIf="quizzes.length == 0">
  <p>No quizzes found.</p>
</div>

