<div class="login-container">

    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>

    <form (ngSubmit)="onSubmit()">
      <h2>Login Here</h2>
      <label>
        Username
        <input type="text" name="username" [(ngModel)]="username" required>
      </label>
      <label>
        Password:
        <input type="password" name="password" [(ngModel)]="password" required>
      </label>
      <button type="submit">Login</button>
    </form>
    <p *ngIf="loginError">Invalid username or password.</p>
  </div>
